QMainWindow {
    background-color: #0E0B16;
}

QMenuBar {
    background-color: #0E0B16;
    color: #FF007F;
}

QMenuBar::item {
    background-color: #0E0B16;
    color: #FF007F;
}

QMenuBar::item:selected {
    background-color: #3E3B47;
}

QPushButton {
    background-color: #1A1A40;
    color: #FFFFFF;
    border: 2px solid #FF007F;
    border-radius: 5px;
}

QPushButton:hover {
    background-color: #3E3B47;
}

QPushButton#addButton {
    background-color: #FF007F;
    color: #FFFFFF;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

QPushButton#nextButton {
    background-color: transparent;
    color: #FF007F;
    border: 1px dashed #FF007F;
    border-radius: 5px;
}

QComboBox {
    background-color: #1A1A40;
    color: #FFFFFF;
    border: 2px solid #FF007F;
    border-radius: 5px;
}

QLabel {
    color: #FFFFFF;
}

#graphPlaceholder {
    background-color: #505050;
    color: #FFFFFF;
}